/*styles.css*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    border: 2px solid red;
}
html{
    /*background-color: black;*/
    font-family: Nunito; 
    color: bisque;
}
body{
    background-color: black;
    
}

.background{
    align-items: center;
    display: flex;
    width: 80vw;
    height: 70vh;
    
}
.plant_pic{
    width: min(100%, 250px);
    height: min(100%, 250px);
    position: absolute;
}
.logo{
    width: max(15%, 70px);
    height: max(10%, 50px);
}
.img_footer{
    color: floralwhite;
}
a{
    color: floralwhite;
}